<!DOCTYPE >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Covid in India</h1>
    <p>The number of confirmed cases in <%= district %>  is <%= data.confirmed %> </p>   
</body>
</html>